[[source]]
name = "tuna"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
gera2ld-pyserve = "*"

[requires]
python_version = "3.7"

[scripts]
server = "python -m socks.server"
